* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}



.sidebar {
    background-color: #ba4d95;
    max-width: 332px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    float: left;
    margin-bottom: 31px;
    /* padding-left: 60px; */
    padding-top: 12px;
    color: black;
    text-decoration: none;
    max-height: 1024px;


}

.retrono{
    display: flex;
    color: white;
    margin-left: 29px;
    margin-right: 269px;
    
}

.sidebar input{
 
 display: flex;
 margin-left: 26px;
 margin-right: 57px;
 width: 249px;
 height: 35px;
 border-radius: 5px;
 flex-direction: column;

}


h1 {
    margin-left: 332px;
    color: white;
    background-color: black;
    margin-top: 19px;
    width: 334px;
    height: 77px;
    padding-top: 19px;
    padding-left: 105px;
    padding-right: 79px;
}

.sidebar a {
    display: flex;
    display: block;
    /* background-color: aqua; */
    width: 100%;
    padding-left: 67px;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;

}

.sidebar a:hover{

    background-color: white;

}


.search {
    display: flex;
    margin-left: 884px;
    margin-right: 248px;
    float: right;
    border-radius: 30px;
}



body {
    background-color: #864896;
}

.article {

    display: flex;
    align-items: center;
    column-gap: 96px;
    margin-left: 521px;
    padding-top: 163px;
    max-width: 226px;
    max-height: 333px;
    padding-top: 300px;
    margin-bottom: 35px;
    flex-wrap: nowrap;
    
   
}




.article a{

margin-top: 25px;
text-decoration: none;
text-align: center;
color: white;

}


.article1 {

    display: flex;
    align-items: center;
    margin-left: 421px;
    margin-right: 126px;
    column-gap: 108px;
    padding-top: 613px;
    max-width: 226px;
    max-height: 333px;
    display: block;
    

}


.find a{

    display: flex;
    width: 26px;
    height: 26px;
}

.find{
    display: flex;
    flex-direction: row;
    margin-right: 1124px;
}
