.linha{
    width: 1181px;
    margin-left: 69px;
    margin-right: 132px;
    display: flex;
   
}
 
.coluna {
    width: 227px;
    height: 445px;
    margin: 30px;
    display: flex;
    flex-direction: column;

}
 
.imagen {
    width: 227px;
    height: 333px;
    background-color:
}
 
 
.titulo {
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    color: white;
}
 
.botaoes {
    display: flex;
    justify-content: space-between;
}
 
.quantidade {
    width: 83px;
    height: 50px;
    background-color: white;
}
 
.adicionar {
    width: 134px;
    height: 50px;
    background-color: yellow;
}

body{
    background-image: url(/img/background-loja.png);
    background-size: cover;
}

.adicionar{
    text-align: center;
   
}