*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.coluna1{

display: flex;
margin-left: 69px;
margin-right: 1114px;
margin-top: 225px;
}


.coluna2{

display: flex;
margin-left: 69px;
margin-right: 1114px;
margin-top: 177px;

}

.qty{
    display: flex;
    align-items: center;
    
    
}