* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #864896;
}

.hiperlink{
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-between;
    font-size: x-large;
    height: 100px;

}

.hiperlink a{

  color: white;
  margin-top: 55px;
  margin-left: 70px;
  margin-right: 200px;
  text-decoration: none;
}

.cabeçalho{
    margin-left: 425px;
    margin-top: 153px;
    margin-bottom: 55px;
}

.container{
    display:flex;
    background-color: #ba4d95;
    height: 173;
    width: 100;
    margin-bottom: 600px;
    color: white;
    font-size: 35px;
    border-color: white 25px;

}

.findebutton{
 
    margin-left: 500px;

}

header{
    
    margin-right: 110px;
}

.beans{

    margin-top: 42px;
    margin-bottom: 47px;
}

.input{

    width: 783px;
    height: 97px;
}

.logo{
    display: flex;
    margin-left: 124px;
}